.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f2f2f2;
  a {
    color: $color-tertiary;
    &:hover {
      color: #2c9c81;
      text-decoration: underline;
    }
  }

  &__logo {
    img {
      width: 245px;
      height: 100%;
      padding: 5px 46px;
    }
  }
  &__copyright {
    p {
      margin-left: 25px;
    }
  }
  &__author {
    margin-right: 50px;
  }
}
