@import "../utils/mixin";
.products {
  &__title {
    text-align: center;
    margin: 30px 0;
    font-size: 2.2rem;
  }
  &__contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @include for-phone-only {
      display: flex;
      flex-direction: column;
    }
  }

  &__container {
    flex: 0 0 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem 2.5rem;
    height: 100%;
    background: #fff;
    box-shadow: 0 5px 15px 0 #5c5c5c;
  }
  &__item {
    img {
      height: 100%;
      width: 100%;
    }
  }

  &__name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px;

    h2 {
      font-size: 20px;
      font-weight: bold;
      color: #000;
    }
    p {
      font-size: 25px;
      color: $color-tertiary;
    }
  }
  &__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 10px;
    width: 100%;
    p {
      color: #000;
    }

    .add_card {
      margin-top: 1.5rem;
      background: fuchsia;
      width: 100%;
      color: #fff;
      height: 50px;
      line-height: 50px;
      text-align: center;
      &:hover {
        background: #2c9c81;
      }
    }
  }
}
