/*Style de la page panier*/
@import "../utils/mixin";

%btn {
  width: 200px;
  line-height: 50px;
  font-size: 0.9rem;
  height: 50px;
  text-align: center;
  color: #fff;
}

.card {
  margin: 3rem;
  &__title {
    font-size: 2.5rem;
    margin-top: 2.5rem;
  }
  td {
    padding: 10px 5px;
  }

  &__item {
    margin: 2rem auto;
    &__table {
      width: 100%;
      th {
        text-align: left;
        background: $color-tertiary;
        padding: 5px;
        color: #fff;
        margin-top: 1.2rem;
      }
    }
    &__product {
      display: flex;
      flex-wrap: wrap;

      img {
        height: 100px;
        width: 100px;
        margin-right: 20px;
        background: #dddd;
      }
    }
    &__infos {
      margin: 1.1rem;
      p,
      small {
        margin-bottom: 1.2rem;
      }
      a {
        position: relative;
        top: 15px;
        color: $primarycolor;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    input {
      position: absolute;
      width: 40px;
      height: 30px;
      padding: 5px;

      border: 1px solid #f2f2f2;
    }
    .price_infos {
      position: absolute;
    }
  }
  .total-table {
    background: #f4f4f4;
    padding: 5px;
    position: absolute;
    right: 50px;
    width: 100%;
    max-width: 250px;
  }
  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8.5rem;
    @include for-phone-only {
      display: flex;
      flex-direction: column-reverse;
    }
    &__shop {
      @include for-phone-only {
        width: 80%;
        margin-top: 2.2rem;
      }

      @extend %btn;
      background: $color-tertiary;
      &:hover {
        background: #000;
      }
    }
    &__valide {
      @include for-phone-only {
        width: 80%;
      }
      @extend %btn;
      background: $color-dark-green;
      &:hover {
        background: #000;
      }
    }
  }
}
.form__container {
  &__title {
    font-size: 2.2rem;
    text-align: center;
    margin-top: 5rem;
    font-weight: bold;
  }
}

.container {
  width: 100%;
  height: 100vh;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 #dfdddd;
  margin: 2.5rem 0;
  padding: 5px 30px;
  &__title {
    font-size: 1.8rem;
    margin-top: 1.5rem;
    text-align: center;
    font-weight: bold;
  }

  &__user__details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @include for-phone-only {
      display: flex;
      flex-direction: column;
      margin: 1.2rem;
      align-items: flex-start;
    }
    input {
      border: 1px solid #000;
      height: 30px;
      min-width: 200px;

      @include for-phone-only {
        width: 50%;
      }
    }
  }
  &__input {
    width: calc(100% / 2 - 20px);
    margin: 20px 0 12px 0;
    .details {
      display: block;
      font-weight: 500;
      margin-bottom: 5px;
    }
  }
  &__valide {
    input {
      width: 200px;
      height: 50px;
      line-height: 30px;
      margin-top: 2rem;
      @include for-phone-only {
        width: 60%;
      }
    }
  }
}
