@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  font-family: "Roboto", sans-serif;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
}

.navbar {
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  border-bottom: 2px #f4f4f4;
}
.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 420px) {
  .navbar__container {
    display: flex;
    flex-direction: column;
  }
}
.navbar__logo-img {
  width: 245px;
  height: 100%;
  padding: 5px 46px;
}
.navbar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 420px) {
  .navbar__list {
    margin: 1rem;
  }
}
.navbar__link {
  margin: 2.5rem;
}
@media (max-width: 599px) {
  .navbar__link {
    margin: 1.2rem;
  }
}
@media (max-width: 599px) and (max-width: 420px) {
  .navbar__link {
    margin: 2rem;
  }
}
.navbar__link.active::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../icons/bx-home-smile.svg") center center/contain no-repeat;
}
.navbar__link.shopcard::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../icons/bx-shopping-bag.svg") center center/contain no-repeat;
}
@media (max-width: 599px) {
  .navbar__link.shopcard::before {
    width: 30px;
    height: 30px;
  }
}

.count {
  display: none;
  position: absolute;
  right: 30px;
  width: 20px;
  height: 20px;
  border: 1px solid #ff79da;
  background: #ff79da;
  color: #fff;
  line-height: 8px;
  font-size: 15px;
  border-radius: 50%;
  padding: 5px;
  text-align: center;
}
@media (max-width: 599px) {
  .count {
    right: 5px;
    width: 18px;
    height: 18px;
    font-size: 13px;
    line-height: 4px;
  }
}
@media (max-width: 420px) {
  .count {
    position: relative;
    bottom: 10px;
    right: 5px;
  }
}

.slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/peluche_2.jpg");
  background-size: cover;
  background-position: center;
  height: 70vh;
  background-attachment: fixed;
  margin-bottom: 25px;
}
.slider__title {
  font-size: 45px;
  color: #fff;
  font-weight: bold;
  padding: 2.5rem;
  text-align: center;
}
@media (max-width: 599px) {
  .slider__title {
    font-size: 30px;
  }
}
.slider__button {
  flex: none;
  font-size: 35px;
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  background: linear-gradient(#ff79da, #000);
  border-radius: 10px;
  box-shadow: 0 0.5px 0.5px 0 #c3c3c3;
  color: #fff;
  text-align: center;
}
.slider__button:hover {
  background: #000;
}
@media (max-width: 599px) {
  .slider__button {
    width: 150px;
    font-size: 25px;
  }
}

.products__title {
  text-align: center;
  margin: 30px 0;
  font-size: 2.2rem;
}
.products__contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 599px) {
  .products__contain {
    display: flex;
    flex-direction: column;
  }
}
.products__container {
  flex: 0 0 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem 2.5rem;
  height: 100%;
  background: #fff;
  box-shadow: 0 5px 15px 0 #5c5c5c;
}
.products__item img {
  height: 100%;
  width: 100%;
}
.products__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 10px;
}
.products__name h2 {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}
.products__name p {
  font-size: 25px;
  color: #ff79da;
}
.products__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 10px;
  width: 100%;
}
.products__card p {
  color: #000;
}
.products__card .add_card {
  margin-top: 1.5rem;
  background: fuchsia;
  width: 100%;
  color: #fff;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.products__card .add_card:hover {
  background: #2c9c81;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f2f2f2;
}
@media (max-width: 599px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
}
.footer a {
  color: #ff79da;
}
.footer a:hover {
  color: #2c9c81;
  text-decoration: underline;
}
.footer__logo img {
  width: 245px;
  height: 100%;
  padding: 5px 46px;
}
@media (max-width: 599px) {
  .footer__copyright {
    text-align: center;
    margin-bottom: 1.2rem;
  }
}
.footer__copyright p {
  margin-left: 25px;
}
@media (max-width: 599px) {
  .footer__copyright p {
    margin-bottom: 1.2rem;
    margin-left: 0;
  }
}
.footer__author {
  margin-right: 50px;
}
@media (max-width: 599px) {
  .footer__author {
    margin-bottom: 1.2rem;
    margin-right: 0;
  }
}

/*Style de la page produit*/
.products__item__details h2, .products__item__descriptions h2, .products__item__descriptions {
  margin-bottom: 0.9rem;
}

.products__item__select, .products__item__descriptions .description {
  margin-top: 0.9rem;
}

.products__item__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2.5rem;
  max-width: max-content;
}
@media (max-width: 768px) {
  .products__item__container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }
}
.products__item__img__container {
  flex: 0 0 50%;
}
@media (max-width: 768px) {
  .products__item__img__container {
    flex: 100%;
  }
}
.products__item__image {
  background: #fff;
  width: 100%;
  height: 100%;
}
.products__item__image img {
  width: 100%;
  height: 100%;
}
.products__item__description__container {
  flex: 0 0 40%;
  margin: 2.5rem;
}
@media (max-width: 768px) {
  .products__item__description__container {
    margin: 0;
    flex: 1;
  }
}
@media (max-width: 768px) {
  .products__item__descriptions {
    margin: 1.2rem;
  }
}
.products__item__descriptions h2 {
  font-size: 1.3rem;
}
.products__item__descriptions .price {
  font-size: 2.5rem;
  color: #ff79da;
}
.products__item__descriptions .description {
  font-size: 1rem;
}
@media (max-width: 768px) {
  .products__item__details {
    margin: 1.2rem;
  }
}
.products__item__details h2 {
  font-size: 1.2rem;
}
.products__item__select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  overflow: hidden;
  border-radius: 0.25em;
}
@media (max-width: 768px) {
  .products__item__select {
    width: 100%;
  }
}
.products__item__select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 1px solid #f2f2f2 !important;
  background: #fff;
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: #5c5c5c;
  cursor: pointer;
  font-size: 1em;
}
.products__item__select::after {
  content: "▼";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #f2f2f2;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.products__item__select:focus {
  outline: none;
}
.products__item__card {
  margin-top: 1.5rem;
  background: fuchsia;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
@media (max-width: 768px) {
  .products__item__card {
    width: 100%;
  }
}
.products__item__card:hover {
  background: #2c9c81;
}
.products__item__card__button {
  color: #fff;
  text-align: center;
}

.color {
  border-radius: 50%;
  background-color: #5c5c5c;
}

/*Style de la page panier*/
.card .clear, .card__button__shop {
  width: 200px;
  line-height: 50px;
  font-size: 0.9rem;
  height: 50px;
  text-align: center;
  color: #fff;
}

.card {
  margin: 3rem;
}
.card__title {
  font-size: 2.5rem;
  margin-top: 2.5rem;
}
.card td {
  padding: 10px 5px;
}
.card__item {
  margin: 2rem auto;
}
.card__item__table {
  width: 100%;
}
.card__item__table th {
  text-align: left;
  background: #ff79da;
  padding: 5px;
  color: #fff;
  margin-top: 1.2rem;
}
.card__item__product {
  display: flex;
  flex-wrap: wrap;
}
.card__item__product img {
  height: 100px;
  width: 100px;
  margin-right: 20px;
  background: #dddd;
}
.card__item__infos {
  margin: 1.1rem;
}
.card__item__infos p,
.card__item__infos small {
  margin-bottom: 1.2rem;
}
.card__item__infos a {
  position: relative;
  top: 15px;
  color: crimson;
}
.card__item__infos a:hover {
  text-decoration: underline;
}
.card__item input {
  width: 45px;
  height: 25px;
  padding: 5px;
  text-align: center;
  border: 1px solid #f2f2f2;
}
.card__item .price_infos {
  position: absolute;
}
.card .total-table {
  background: #8d8b8b;
  padding: 5px;
  position: absolute;
  right: 50px;
  width: 100%;
  max-width: 250px;
}
.card .total-table td {
  font-size: 20px;
}
.card__button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 8.5rem;
}
@media (max-width: 599px) {
  .card__button {
    display: flex;
    flex-direction: column-reverse;
  }
}
.card__button__shop {
  background: #ff79da;
}
@media (max-width: 599px) {
  .card__button__shop {
    width: 80%;
    margin-top: 2.2rem;
  }
}
.card__button__shop:hover {
  background: #000;
}
.card .empty {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
}
.card .clear {
  position: absolute;
  right: 50px;
  margin-bottom: 125px;
  background: crimson;
}
.card .clear:hover {
  background: #000;
}
@media (max-width: 599px) {
  .card .clear {
    width: 60%;
    margin-bottom: 1.2rem;
    margin-bottom: 150px;
  }
}

.checkout__container {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}
.checkout__container img {
  max-width: 700px;
  width: 100%;
  height: 100%;
  margin-top: -4.8rem;
}
.checkout__container__title {
  margin: 2rem 4rem;
  text-align: center;
}
.checkout__container__title h1 {
  font-size: 2.5rem;
  margin-top: 3rem;
}
.checkout__container__title span {
  font-weight: bold;
  color: #ff79da;
}
.checkout__container__title p {
  margin-top: 1.9rem;
  font-size: 1.9rem;
}

.errorContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.errorContainer img {
  height: 100%;
  width: calc(75% - 20px);
}
.errorContainer p {
  font-size: 1.8rem;
  font-weight: bold;
  color: crimson;
  text-align: center;
}
@media (max-width: 599px) {
  .errorContainer p {
    font-size: 1.4rem;
  }
}

.title__container h2 {
  text-align: center;
  font-size: 2.2rem;
  margin-top: 100px;
  color: green;
  font-weight: bold;
}
@media (max-width: 599px) {
  .title__container h2 {
    font-size: 1.8rem;
  }
}

.form__container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ebf4f2;
  margin-top: 45px;
}

form {
  width: 50%;
  min-width: 300px;
  max-width: 600px;
  background: #fff;
  display: grid;
  grid-template-rows: repeat(5, 100px);
  padding: 60px 45px 30px;
  border-radius: 16px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  position: relative;
}
@media (max-width: 599px) {
  form {
    width: auto;
  }
}

div {
  transition: 0.2s;
}

label {
  letter-spacing: 1px;
}

input[type=text] {
  margin: 7px 0 7px;
  border: 1px solid transparent;
  background: #ebf4f2;
  height: 36px;
  width: 100%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  font-size: 1.1rem;
  padding-left: 10px;
  transition: 0.2s;
}
input[type=text]:focus {
  border: 1px solid #5ef9a4;
}

.span {
  display: block;
  margin-bottom: 20px;
  font-size: 0.8rem;
  visibility: visible;
  opacity: 0;
  transition: 0.3s;
  color: red;
}

.p {
  background: red;
  width: 33%;
  height: 6px;
  margin: -2px 0 2px;
  border-radius: 50px;
  visibility: hidden;
  transition: 0.3s;
}

#security .span {
  display: inline;
}

input[type=submit] {
  border: none;
  background: linear-gradient(65deg, #16d9e7, #5ef9a4);
  width: 50%;
  margin: 12px auto 0;
  padding: 10px;
  border-radius: 150px;
  font-size: 1.2rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s ease;
}
input[type=submit]:hover {
  filter: brightness(105%);
  transform: translateX(2px);
}

.error input[type=text] {
  color: red;
  border: 1px solid rgba(255, 0, 0, 0.527);
}

.error span {
  visibility: visible;
  opacity: 1;
  color: red;
}

.progressRed {
  background: red;
  width: 33%;
  visibility: visible;
}

.progressBlue {
  background: #16d9e7;
  width: 67%;
  visibility: visible;
}

.progressGreen {
  width: 100%;
  background: #5ef9a4;
  visibility: visible;
}

/*Button quantité sur la page Produit*/
.quantity_container {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}

.number {
  width: 35px;
  height: 25px;
  margin: 0.8rem;
  text-align: center;
  border: 2px solid #e4e4e4;
}
.number:focus {
  outline: none;
}

.qte-plus::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("../icons/bx-plus.svg") center center/contain no-repeat;
  background-color: #f4f4f4;
  cursor: pointer;
}

.qte-minus::before {
  display: inline-block;
  content: "";
  width: 25px;
  height: 25px;
  background: url("../icons/bx-minus.svg") center center/contain no-repeat;
  background-color: #f4f4f4;
  cursor: pointer;
}

/*Button quantité sur la page Panier*/
.input_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 85px;
}

.minus-btn {
  position: absolute;
  left: 25px;
}
.minus-btn::before {
  position: relative;
  right: 40px;
  display: inline-block;
  content: "";
  width: 25px;
  height: 25px;
  background: url("../icons/bx-minus.svg") center center/contain no-repeat;
  background-color: #f4f4f4;
}

.plus-btn {
  position: absolute;
  left: 50px;
}
.plus-btn::before {
  position: relative;
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("../icons/bx-plus.svg") center center/contain no-repeat;
  background-color: #f4f4f4;
}

/*# sourceMappingURL=style.css.map */
